#no-mobile {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;

  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

@media screen and (max-width: 550px) {
  #no-mobile {
    display: None;
  }
}
